{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}
<link href="{% static '/css/login.css' %}" rel="stylesheet">

      <h1 class = "headTitle">Log in</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="loginBtn">
      <style>text-align: center</style>
      <button type="submit" class="btn btn-primary Login">Log in</button>
      <a>or</a>
      <a href="{% url 'signup' %}">create new account</a>
    </div>
    </form>

{% endblock %}


