{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}
<link href="{% static '/css/userSettings.css' %}" rel="stylesheet">

    <h1 class = "headTitle">Settings: {{ setting_form.username.value }}</h1><br>
{% if setting_form.username.value != user.username %}
<a style="color: red; font-weight:500;">Username '{{ user.username }}' already exists. Choose another one</a><br>
{% endif %}
  <form method="post">
    {% csrf_token %}
    {{ setting_form }}
  <div id="loginBtn">
    <button type="submit" class="btn btn-success Login">Save</button>
  </div>
    </form>
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}


{% endblock %}

