{% extends 'base2.html' %}
{% load static %}
{% block content %}
<link href="{% static '/css/userSettings.css' %}" rel="stylesheet">


    <h1 class = "headTitle">Settings: S.Miroshnichenko</h1>
  <div class="signing">
  <div class="form-floating signIn">
    <input class="form-control" id="loginInput" value="m1rosh" placeholder="login">
    <label for="loginInput">Login</label>
  </div>
  <div class="form-floating signIn">
    <input type="email" class="form-control" id="emailInput" value="mirosh430@gmail.com" placeholder="name@example.com">
    <label for="emailInput">Email address</label>
  </div>
    <div class="form-floating signIn">
    <input class="form-control" id="nickInput" value="S.Miroshnichenko" placeholder="nickname">
    <label for="nickInput">Nickname</label>
  </div>
    <img src="{% static '/images/avatar1.png' %}" class="question-image">
    <div class="avatarDiv">
      <div class="form-floating signIn">
    <input class="form-control" id="avatarInput" value="C:\avatar.png" placeholder="avatar">
    <label for="avatarInput">Avatar path</label>
      <button type="button" class="btn btn-dark chooseAvatar">...</button>
  </div>
    </div>
    </div>

  <div id="loginBtn">
    <button type="button" class="btn btn-success Login">Save</button>

  </div>

{% endblock %}

