/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 90px 15px 0;
}

.signing{
    margin-top: 30px;
}

.signIn{
    max-width: 300px;
    padding-bottom: 20px;
}

.loginBlock > t{
    margin-top: 200px;
}

.user{
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 30px;
    color: white;
    font-weight: 100;
}
.like-image{
    margin-left: 0px;
    max-width: 50px;
    max-height: 50px;
}

.Login{
    width: 35%
}


.userName > a{
    color: grey;
    text-decoration: underline;
    display: inline;
    padding: 5px;
}
.tag{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.chooseAvatar{
    margin-left: 320px;
    margin-top: -85px;
}

.col-4 > h1{
    text-align: center;
}
.members{
    text-align: center;
    margin: 50px;
    padding-bottom: 40px;
    font-size: 19px;

}
.members ul a {
    padding: 10px;
    text-decoration: underline;
    color: blue;

}

